# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
python/com/uva/*.so
python/com/uva/*.c
python/com/uva/custom_random/*.so
python/com/uva/custom_random/*.cpp

# Distribution / packaging
.Python
env/
build/
build-*/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# 3rdparty pulls
c++/3rdparty/vexcl
