# Compiled Object files
*.slo
*.lo
*.o
*.class

# Compiled Dynamic libraries
*.so
*.dylib
lib*.so.[0-9]*
lib*.so.[0-9]*.[0-9]*

# Compiled Static libraries
*.lai
*.la
*.a

#eclipse files
.project
.cproject

#vim guards
.*.swp

# Generated for configure
config.mk
config.mk.patch
config.mk.orig
config.cache
Makefile.config

# lib/obj directories, created on demand
obj

# Generated stuff

# Installed stuff
include/google
lib/pkgconfig
share

# executables
apps/main/main
test/preprocess/hep_ph/main
test/preprocess/hep_th/main
test/preprocess/hep_th2/main
test/preprocess/netscience/main
test/preprocess/relativity/main
test/rand-normal/main
test/rand-distr/main
test/d-kv-store/d-kv-store/main
test/d-kv-store/read-only/main
test/rdma/qperf-read/main
test/timer/main
test/preprocess/main

# log files
apps/*/log-*
apps/*/*/log-*
apps/*/log.*
apps/*/*/log.*
test/*/log-*
test/*/*/log-*
test/*/log.*
test/*/*/log.*
